@media only screen and (orientation: landscape) { 

    /* Preload images */
    body:before {
        display: none;
        content: url('/img/sample_background.jpg')
    }
    
    html, body {
        width: 100%;
        height: 100%;
    } 
    
    body {
        overflow-y: hidden ! important;
        overflow-x: hidden ! important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    :-webkit-full-screen {
		background-size: 100% 100%;
	}
	:-moz-full-screen {
		
		background-size: 100% 100%;
	}

    #main-wrapper{
        background-color: red;
        height:100vh;
        width:100vw;
    }

    #pacman_cursor{
        display: none;
        height:10vh;
        width:10vh;
    }
}
